.inputForm{ 
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.inputDate {
    font-size: 3em;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 200;
    border-width: 2px;
    border-style: outset;
    border-color: var(--gray);
}

.inputButton { 
    margin-top: 20px;
    font-size: 2em;
    border-radius: 8px;
    padding: 10px 16px;
    transition: 0.2s;
}

.inputButton:hover, .inputDate:hover {
    outline: 5px solid var(--gray);
    transition: 0.2s;
}


@media (max-width: 600px) {

    .inputForm{ 
        width: 100%;
        margin: 40px;
    }
    
    .inputDate {
        font-size: 2.6em;
        padding: 10px 16px;
    }
    
    .inputButton { 
        margin-top: 20px;
        font-size: 1.7em;
        border-radius: 8px;
        padding: 7px 16px;
    }
}